<div class="row">
  <div class="col-5 hidden-md-up">
   <div class="small-pic-container">
      <%= image_tag 'SelfPortrait.JPG' %>
    </div>
  </div>
  <div class="col-6 col-md-12">
    <div class="text-content">
      <h1>C. V.</h1>
      <br />
      <div class="text-center">
        <%= link_to 'Download C.V.', home_download_pdf_url %>
      </div>
      
    </div>
  </div>
</div>