<div class="col-12">
  <div class="text-content">
    <h1>C. V.</h1>
    <br />
    <div class="col-12 hidden-md-up">
     <div class="small-pic-container text-center">
        <%= image_tag 'SelfPortrait.JPG' %>
      </div>
    </div>
    <br />
    <div class="text-center">
      <%= link_to 'Download C.V.', home_download_pdf_url %>
    </div>
    
  </div>
</div>
