<div class="row">
  <div class="col-5 hidden-md-up">
   <div class="small-pic-container">
      <%= image_tag 'SelfPortrait.JPG' %>
    </div>
  </div>
  <div class="col-6 col-md-12">
    <div class="text-content">
      <h1>C.V.</h1>
      <br />
      <p>I am a PhD candidate in the Department of Philosophy at Yale University. My primary area of research is the philosophy of language, though I also have interests in metaphysics, logic, the philosophy of art, and feminist philosophy. My dissertation, supervised by Zoltán Szabó, is about linguistic convention.</p>
    </div>
  </div>
</div>