
<div class="row">
  <div class="col-5 hidden-md-up">
   <div class="small-pic-container">
      <%= image_tag 'SelfPortrait.JPG' %>
    </div>
  </div>
  <br />
  <div class="col-6 col-md-12">
    <div class="col-4 offset-1 col-md-10 offset-1 text-content">
      <p>I will be a postdoctoral research fellow at the Australian National University during the 2017-2018 academic year. Before joining the department at ANU, I studied at Yale University (Ph.D. expected December 2017) under the supervision of Zoltán Szabó.

      My research focuses on the nature of language, linguistic conventions, and speech acts. I also have interests in metaphysics, the philosophy of art, the philosophy of law, and feminist philosophy.</p>
    </div>
  </div>
</div>


