<br />
<div class="col-12">
  <div class="text-content">
    <div class="col-12 d-md-none row">
      <div class="col-12 col-sm-6 small-pic-container text-center">
        <%= image_tag 'SelfPortrait.JPG' %>
      </div>
      <div class="col-12 col-sm-6 text-center" id="index-small">
        <br />
        <h1><span>J</span>ESSICA <span>K</span>EISER</h1>
        <p>keiserjessicalynn@gmail.com</p>
      </div>
    </div>
    <br />
    <div>
      <p>I am a Lecturer in Theoretical Philosophy and Marie Curie Individual Fellow at the School of Philosophy, Religion, and History of Science at the University of Leeds. Before joining the department at Leeds, I was a post-doctoral research fellow in philosophy at the Centre for Consciousness in the School of Philosophy at the Australian National University. I received my PhD at Yale under the supervision of Zoltán Szabó.</p>
      <p>My work is located at the intersection of philosophy of language, metaphysics, and social/political philosophy. At the heart of my research project lies an interest in reviving a once-lively program in philosophy of language—that of reducing linguistic phenomena to facts about the mental states and actions of language users. Recent years have seen a growing attitude of skepticism toward this project; however, the problems generating this attitude it find their source not in the project itself, but rather in specific implementations which relied on a flawed assumption about the essential function of language. While previous theories tended to assume that language is essentially a mechanism for cooperative information exchange, my research project is to show how a viable, reductive theory of communication can be developed when this idealization is relaxed.</p>

      <p>While several aspects of my project are located within a feminist framework in a more obvious sense, the goals and values of this tradition inform all of my work. I don’t conceive of feminist philosophy as a separate and independent enterprise, but rather as a methodology—applicable to any domain of inquiry—which aims to seek out ways in which gender and other social positions bear on our theorizing as well as on the target phenomenon itself, with the goal of deepening our knowledge and effecting social change.</p>
    </div>
    
  </div>
</div>
