
<div class="row">
  <div class="col-6 hidden-md-up">
   <div class="small-pic-container">
      <%= image_tag 'SelfPortrait.JPG' %>
    </div>
  </div>
  <div class="col-md-10 col-sm-5">
    
    <p>I am a PhD candidate in the Department of Philosophy at Yale University. My primary area of research is the philosophy of language, though I also have interests in metaphysics, logic, the philosophy of art, and feminist philosophy. My dissertation, supervised by Zoltán Szabó, is about linguistic convention.</p>
  </div>
</div>


