<br />
<div class="col-12">
  <div class="text-content">
    <div class="col-12 d-md-none row">
      <div class="col-12 col-sm-6 small-pic-container text-center">
        <%= image_tag 'SelfPortrait.JPG' %>
      </div>
      <div class="col-12 col-sm-6 text-center" id="index-small">
        <br />
        <h1><span>J</span>ESSICA <span>K</span>EISER</h1>
        <p>keiserjessicalynn@gmail.com</p>
      </div>
    </div>
    <br />
    <div>
      <p>I am a Lecturer in Theoretical Philosophy and Marie Curie Individual Fellow at the School of Philosophy, Religion, and History of Science at the University of Leeds. Before joining the department at Leeds, I was a post-doctoral research fellow in philosophy at the Centre for Consciousness in the School of Philosophy at the Australian National University. I received my PhD at Yale Universityw under the supervision of Zoltán Szabó and Jason Stanley.</p>
      <p>My work is located at the intersection of philosophy of language and social/political philosophy. My current project can be described as that of developing a “non-ideal metasemantics”. Traditionally, linguistic theory modelled linguistic exchange as a cooperative enterprise aimed at gaining information about the world, abstracting away from important issues like power, ideology, social position, and diversity of goals—which are crucial to understanding how language functions as a vehicle for social change and inclusion/exclusion. While there has recently been an ameliorative movement within the field aimed at pushing issues related to language and social justice into the scope of the philosophical mainstream, it has primarily centered on speech-act theory—dealing with issues such as hate speech, political speech, pornography, and testimony. My work builds on this movement while shifting the focus of its application to the domain of metasemantics—dealing with issues such as the nature of discourse structure and linguistic conventions—which forms the backbone of a broader theory of linguistic communication. I show that various problems and limitations of traditional frameworks have their source in idealizations made at this foundational level of linguistic theory and propose to rebuild from the ground-up. My project is to develop a non-ideal metasemantics which retains the major insights of traditional frameworks while rejecting the social idealizations that guided (and continues to guide) them: the essential function of language is not to exchange information, but to direct attention for the purpose of achieving diverse—and often non-cooperative and misaligned—social and political goals.</p>
    </div>
    
  </div>
</div>
