<br />
<div class="col-12">
  <div class="col-12 hidden-lg-up row">
    <div class="col-6 small-pic-container text-center">
      <%= image_tag 'SelfPortrait.JPG' %>
    </div>
    <div class="col-6 text-center" id="index-small">
      <h1><span>J</span>ESSICA <span>K</span>EISER</h1>
      <br />
      <p>Self-portrait, charcoal on paper</p>

      <p>Department of Philosophy,
      Yale University, P.O. Box 208306, New Haven, CT 06520</p>

      <p>jessica.keiser@yale.edu</p>
    </div>
  </div>
  <div class="text-content">
    <p>I will be a postdoctoral research fellow in philosophy at the Centre for Consciousness at the Australian National University during the 2017-2018 academic year.</p>

    <p>Before joining the department at ANU, I studied at Yale University (Ph.D. expected December 2017) under the supervision of Zoltán Szabó. My research focuses on the nature of language and convention. I also have interests in metaphysics, the philosophy of art, the philosophy of law, and feminist philosophy.</p>
  </div>
</div>


