<div class="col-12">
  <div class="text-content">
    <h1>Research</h1>
    <br/>
    <div class="col-12 hidden-md-up">
     <div class="small-pic-container text-center">
        <%= image_tag 'SelfPortrait.JPG' %>
      </div>
    </div>
    <br />
    <h5>“Bald-Faced Lies: How to make a move in a language game without making a move in a conversation”, <i>Philosophical Studies</i>. 2016</h5>
    <a href="#BaldFacedLies" data-toggle="modal" data-target="#BaldFacedLies">View abstract</a>
    <br /><br />
    <h5>“Coordinating with Language”, <i>Croatian Journal of Philosophy</i>. 2016</h5>
    <a href="#coordinatingWithLanguage" data-toggle="modal" data-target="#coordinatingWithLanguage">View abstract</a>
    <br /><br />
    <h5>“Varieties of Intentionalism”, forthcoming in Preyer, Gerhard (ed). Semantics, <i>Pragmatics and Interpretation. Oxford University Press</i>. </h5>
    <a href="#intentionalism" data-toggle="modal" data-target="#intentionalism">View abstract</a>
    <br /><br />
    <h5>“Assertion in Context: Making Sense of Normativity”, <i>Under Review</i></h5>
    <a href="#assertionInContext" data-toggle="modal" data-target="#assertionInContext">View abstract</a>
    <br /><br />
    <h5>“Language Without Information Exchange”, <i>Under Review</i></h5>
    <a href="#languageUse" data-toggle="modal" data-target="#languageUse">View abstract</a>
    <br /><br />
    <h5>“On Meaning Without Use, <i>In Progress</i></h5>
    <a href="#onMeaning" data-toggle="modal" data-target="#onMeaning">View abstract</a>
    
    <br /><br />

    <!-- Modals -->
    <div class="modal custom fade" id="BaldFacedLies" tabindex="-1" role="dialog" aria-labelledby="BaldFacedLies" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="BaldFacedLies">
              Bald-Faced Lies: How to make a move in a language
            </h5>
            <h5> 
              game without making a move in a conversation
            </h5>
          </div>
          <div class="modal-body">
            According to the naïve, pre-theoretic conception, lying seems to be characterized by the intent to deceive. However, certain kinds of bald-faced lies appear to be counterexamples to this view, and many philosophers have abandoned it as a result. I argue that this criticism of the naïve view is misplaced; bald-faced lies are not genuine instances of lying because they are not genuine instances of assertion. I present an additional consideration in favor of the naïve view, which is that abandoning it comes at an extremely high price; alternative accounts which eschew the intent-to-deceive condition on lying have difficulty distinguishing lies from non-literal speech
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal custom fade" id="coordinatingWithLanguage" tabindex="-1" role="dialog" aria-labelledby="coordinatingWithLanguage" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="coordinatingWithLanguage">
              Coordinating with Language
            </h5>
          </div>
          <div class="modal-body">
            Linguistic meaning is determined by use. But given the fact that any given expression can be used in a variety of ways, this claim marks where metasemantic inquiry begins rather than where it ends. It sets an agenda for the metasemantic project: to distinguish in a principled and explanatory way those uses that determine linguistic meaning from those that do not. The prevailing view (along with its various refinements), which privileges assertion, suffers from being at once overly liberal and overly idealized. By parsing the most prominent aims we use language to achieve, noting their relations of dependence and the specific type of uses they involve, I arrive at a novel metasemantic account: facts of linguistic meaning are determined by locutionary action.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal custom fade" id="intentionalism" tabindex="-1" role="dialog" aria-labelledby="intentionalism" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="intentionalism">
              Varieties of Intentionalism
            </h5>
          </div>
          <div class="modal-body">
            In Imagination and Convention: Distinguishing Grammar and Inference in Language, Matthew Stone and Ernie Lepore offer a multifaceted critique of the widely influential Gricean picture of language use, proposing in its place a novel framework within which to understand the role of convention in linguistic communication. They criticize Lewis’ and Grice’s commitment to what they call prospective intentionalism, according to which the meaning of an utterance is determined by the effects that the speaker intends it to have on the conversation. Instead, they make a case for what they call direct intentionalism, according to which the meaning of an utterance is determined by the speaker’s intentions to use it in under a certain grammatical analysis. I argue that there is an equivocation behind their critique, both regarding the type of meaning that is at issue, and with respect to the question each theory is attempting to answer; once we parse these issues apart, we find that Stone and Lepore’s main contentions are compatible with the broadly Lewisian/Gricean picture.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal custom fade" id="assertionInContext" tabindex="-1" role="dialog" aria-labelledby="assertionInContext" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="assertionInContext">
              Assertion in Context: Making Sense of Normativity
            </h5>
          </div>
          <div class="modal-body">
            Why should we think that there is a unique epistemic norm of assertion in the face of contextual variation on judgments of propriety? This position would be motivated, I suggest, only by an independent commitment to the idea that the norm of assertion must be constitutive of that act. I argue that such a commitment is misplaced, as constitutive theories fail to discharge the explanatory task of a full theory of assertion. I propose a non-constitutive account of assertion rooted in a broader theory of communication, language, and speech acts, demonstrating that it is preferable on broad theoretical grounds as well as in explanatory force. I show that this account predicts the contextual variation on epistemic norms that must be explained away by constitutive accounts.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal custom fade" id="languageUse" tabindex="-1" role="dialog" aria-labelledby="languageUse" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="languageUse">
              Language Without Information Exchange
            </h5>
          </div>
          <div class="modal-body">
            This paper is an attempt to revive a once-lively program in the philosophy of language—that of reducing linguistic phenomena to facts about mental states and actions of language users. Though recent years have seen a growing attitude of skepticism toward this project, I argue that various problems which generated it find their source not in the project itself, but rather in specific implementations of it. Previous theorists tended to assume that language functions essentially as mechanism for cooperative information exchange, which naturally led to metasemantic accounts grounding language use in illocutionary action (conveying a content with some kind of force). I argue that when this assumption is relaxed, a metasemantics grounding language in locutionary action (merely conveying a content) emerges as a more viable proposal, displaying the flexibility to accommodate issues which were taken to be intractable for previous theories—such as the metasemantics of subsentential constituents and non-standard speech.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal custom fade" id="onMeaning" tabindex="-1" role="dialog" aria-labelledby="onMeaning" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="onMeaning">
              On Meaning Without Use
            </h5>
          </div>
          <div class="modal-body">
            In this paper I defend an elegant but largely abandoned metasemantic picture according to which linguistic communication is grounded in conventions of use, ushered into broad philosophical discourse by David Lewis in his seminal (1969) Convention. I will defend this picture against a famous criticism—put forward by John Hawthorne, developing an objection by Stephen Schiffer—known as the problem of meaning without use. This criticism is commonly taken to be decisive, prompting various retreats and surrenders by the most prominent proponents of this picture, and contributing to the project’s eventual decline. I argue that the issue of meaning without use is in fact innocuous—and that if the broadly Lewisiean metasemantic picture is to be abandoned, it should not be on this basis. While this goal is focused, it is not narrow or unambitious; Lewis's theory of convention provided a powerful tool for theorists interested in reducing linguistic communication to facts about actions and mental states, the core ideas of which can be seen in most serious attempts to systematically implement this project.If I manage to dispel a major worry for this framework, it will be no small victory towards vindicating the broader reductive project.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
