<div class="row">
  <div class="col-5 hidden-md-up">
   <div class="small-pic-container">
      <%= image_tag 'SelfPortrait.JPG' %>
    </div>
  </div>
  <div class="col-6 col-md-12">
    <div class="text-content teaching-page">
      <h1>Courses Taught</h1>
      <br />
      <h3><span>A</span>S <span>P</span>RIMARY <span>I</span>NSTRUCTOR</h3>
      <div class="row">
        <div class="col-4 offset-1">Introduction to Ethics</div>
        <div class="col-5">Gateway Community College</div>
        <div class="col-2">2016-2017</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Philosophy of Law</div>
        <div class="col-5">Yale University</div>
        <div class="col-2">2016</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Philosophy of Art</div>
        <div class="col-5">Florence Academy of Art, US</div>
        <div class="col-2">2014-2015</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Drawing</div>
        <div class="col-5">University of Missouri</div>
        <div class="col-2">2007-2009</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Drawing</div>
        <div class="col-5">Florence Academy of Art</div>
        <div class="col-2">2006-2007</div>
      </div>
      <br />
      <h3><span>A</span>S <span>T</span>EACHING <span>A</span>SSISTANT</h3>
      <div class="row">
        <div class="col-4 offset-1">Computability and Logic</div>
        <div class="col-5">Yale University, Sun-Joo Shin</div>
        <div class="col-2">2017</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Propaganda</div>
        <div class="col-5">Yale University, Jason Stanley</div>
        <div class="col-2">2016</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Mathematical Logic</div>
        <div class="col-5">Yale University, Sun-Joo Shin</div>
        <div class="col-2">2015</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Introduction to Early Modern Philosophy</div>
        <div class="col-5">Yale University, Michael Della Rocca</div>
        <div class="col-2">2014</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Mathematical Logic</div>
        <div class="col-5">Yale University, Sun-Joo Shin</div>
        <div class="col-2">Spring 2013</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">Mathematical Logic</div>
        <div class="col-5">Yale University, Sun-Joo Shin</div>
        <div class="col-2">Fall 2013</div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">History of Aesthetics</div>
        <div class="col-5">Yale University, Karsten Harries</div>
        <div class="col-2">2012</div>
      </div>
    </div>
  </div>
</div>