@import "bootstrap";
@import 'slick';
@import 'slick-theme';
@import url('https://fonts.googleapis.com/css?family=Alegreya|EB+Garamond|Gentium+Book+Basic|Lateef|Philosopher|Sorts+Mill+Goudy');
/*font-family: 'Alegreya', serif;
font-family: 'EB Garamond', serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Sorts Mill Goudy', serif;
font-family: 'Lateef', cursive;*/

h1 {
  text-align: center;
}
h1 span {
  font-size: 120%;
}
body {
  background-image: image_url('bg.jpg');
}
h3 span {
  font-size: 135%;
}
.current_content {
  padding: 10px 10px 10px 20px;
  background-color: white;
  font-size: 130%;
  font-family: 'Sorts Mill Goudy', serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.text-content {
  padding: 5% 5% 5% 5%;
  text-align: justify;
}
.teaching-page {
  text-align: left;
}
.teaching-page h3 {
  font-size: 90%;
  margin-bottom: 20px;
}
.jk-navbar {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 18px;
  background: #6F98A3;
  text-align: center;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
}
.jk-navbar::first-letter {
  font-size: 25px;
}
.jk-navbar a {
  color: white;
  margin-right: 2.5em;
  margin-left: 2.5em;
}
a .navlink::first-letter {
  font-size: 25px;
}
.link-box {
  display: inline;
}
#name-brand {
  font-family: 'Sorts Mill Goudy', serif;
  padding-top: 7%;
  height: 56px;
}
#name-brand h1::first-letter {
  font-size: 110%;
}
#page-container {
  margin-left: 0;
  margin-right: 0;
}
#wrapper {
  padding-left: 400px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -400px;
  left: 400px;
  width: 400px;
  background: #CCC;
  /*position: fixed;*/
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper img {
  max-width: 100%;
  height: auto;
}
#portrait-container {
  padding-top: 14%;
  padding-left: 10%;
  padding-right: 10%;
}

#page-content-wrapper {
  width: 100%;
}
.sidebar-nav {
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.small-pic-container img {
  width: 100%;
  height: auto;
}
.scroller-for {
}
.scroller-nav {
  margin-left: 10px;
}
.featured {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.art {
  height: 100px;
  margin: 0 10px;
}
.slick-prev:before, .slick-next:before { 
    color:red !important;
}
div.modal-body {
  padding-left: 50px;
  padding-right: 50px;
}
div.modal-header {
  display: inline;
}

@media (max-width: 800px) {
  .jk-navbar a {
    margin-left: 10px;
    margin-right: 10px;    
  }
}
@media (max-width: 767px) {
  .jk-navbar a {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 400px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 400px;
    width: 400px;
    transition: all 0.4s ease 0s;
  }

}

@-ms-viewport{
  width: device-width;
} 